[2019-09-07 11:48] TheSTL opened #2 "product-of-elements"
`for (let i = arr.length - 1; i > 0; i -= 1) `(At line 24 of index.js)

It should be :

`for (let i = arr.length - 1; i > = 0; i -= 1) `

[2019-09-07 17:15] ashokdey commented on #2
Noted. And thanks for resolving the bug in PR: #3

[2019-09-07 17:15] #2 closed

[2019-09-13 02:42] navneet15 opened #11 "Added get all path of a M x N grid."
Hey! I have just added a new problem.
Can you please review it so that I can make a PR.

[2019-09-22 19:46] ashokdey commented on #11
Hello @navneet15, I was going very busy since the last couple of days. Your code has been reviewed by @TheSTL a long ago.

Also, next time when you open an issue, please add the PR number and branch name for ease of navigation.

Thanks for your contributions 🥇 😊

[2019-09-22 19:46] #11 closed

[2019-10-03 19:22] ashokdey opened #16 "Add unit tests for solved problems"
Hello folks! Unit testing is one of the best ways to build robust applications. If you are a beginner, it's a great place to start with **Unit Testing** and your **Open Source** contribution journey.

You can find ample of examples in the repo itself and hence can kickstart with the unit tests for solutions not having test cases.

[2019-10-03 19:38] ashokdey opened #17 "Add new problems with solution"
If you are very new to the world of software development and you are finding it hard to start your open source contribution, here is the easiest way to kick-off!

**This issue is not bounded to a single person**
**Mention the Problems you will be adding so that people do not collide**

- Add a logical problem with the solution
- Follow the pattern for file names and folder name (adding Contributio

[2019-10-03 19:44] ashokdey opened #18 "Add Contribution Guide"
What do we need in the Contribution Guide?

- When adding a new **problem** with solution
  - [ ] Take care of the filename convention (Very Important)
  - [ ] Problem statement should be there with examples
  - [ ] Make sure you add the Run Time complexity of your solution
  - [ ] Please take care of the segregation of the Problems as per the given Folder Structure
  - [ ] It's great if you can a

[2019-10-03 23:38] LeoSL commented on #16
I'd like to work on this one.

**Question:**
- Should I add tests for **all** the problems that don't have tests today?

[2019-10-04 00:05] marcelinol commented on #16
I'll add some more as well

[2019-10-04 17:43] SumeetHaryani commented on #17
Hi @ashokdey I would like to work on this issue.

[2019-10-04 17:47] ashokdey commented on #17
Assigning you, please mention the problems you will be solving so that people do not collide

[2019-10-04 19:35] ashokdey commented on #16
Yes please go ahead @LeoSL this would be really helpful. I am assigning this issue to you. Let me know if you would like to take up the responsibility of the Test Cases for this repo.

Thanks! 😊 ❤️

[2019-10-04 19:38] ashokdey commented on #16
Hello @marcelinol, thanks for your contributions too! Let me know if anything else you would like to do for this repo or any of the repo of this organization **[Knaxus](https://github.com/knaxus)**

[2019-10-04 20:53] LeoSL commented on #16
@ashokdey I'd be glad to take it up, do you have some doc that outlines the main responsibilities? Can you provide more details?

[2019-10-05 04:16] ashokdey commented on #16
I am working on the documentation part and I will post it by tomorrow.

[2019-10-05 18:34] ashokdey opened #34 "Add Unit Test for - postfix expression evaluation"
Add the Unit Test for #33

What is required?

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the **Contribution Guide** is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-05 18:46] ashokdey commented on #16
Hello @LeoSL, as said, you can find the guidelines here: [Contribution Guide](https://github.com/knaxus/problem-solving-javascript/blob/master/README.md#contribution-guide)

[2019-10-05 18:47] ashokdey commented on #18
[This Guide](https://github.com/knaxus/problem-solving-javascript/blob/master/README.md#contribution-guide) closes this issue.

[2019-10-05 18:47] #18 closed

[2019-10-07 06:25] TheSTL opened #38 "Add Unit Test for - A* algorithm"
## 🤖 What is required?

The algorithm is here : [A* pathFinder](https://github.com/knaxus/problem-solving-javascript/blob/master/src/PathFinder/AStart/index.js)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-07 06:28] TheSTL opened #39 "Add Unit Test for - Fibonacci"
### 👽 What is required?

The algorithm is here : [Fibonacci](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Classics_/fibonacci)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-07 06:31] TheSTL opened #40 "Add Unit Test for - Caeser Cipher"
### 🤡 What is required?
The algorithm is here : [Caeser Cipher](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Classics_/caeser_cipher)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-07 08:55] PoojaKhandhadia commented on #39
I will work on it.

[2019-10-07 10:09] fcosueza commented on #40
I can work on this. :+1:

[2019-10-07 10:29] ashokdey commented on #39
Hello @PoojaKhandhadia assigned you this issue

[2019-10-07 10:29] ashokdey commented on #40
Sure @fcosueza, I have assigned this issue to you.

[2019-10-07 10:42] fcosueza commented on #40
Thanks !! :smiley:

[2019-10-07 11:01] TheSTL opened #41 "Add Unit Test for - Loop in list"
### 🤡 What is required?
The algorithm is here : [Loop in list](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/LinkedList/loop-in-list)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-07 12:11] PoojaKhandhadia opened #42 "Handling fibonacci for negative numbers and 0"
Function **fibonacciTabular** is not handled if a negative number is provided. It returns undefined as output.

If 0 is given as index in **fibonacciTabular** it returns 0 instead of 1.

@ashokdey For the functions **fibonacci** and **fibonacciMemoized** if negative numbers are provided the output is coming as 1. Is it correct to handle in such a way that the output should be 1 or it should be han

[2019-10-07 16:40] SumeetHaryani commented on #42
@ashokdey I would like to work on this issue.

[2019-10-07 17:31] fcosueza commented on #40
Caesar cipher should raise and error when second argument is not a number, instead it return a string of "undefinedundefinedundefined". Also, the folder is misspeled "caeser". Should i correct it or make a new issue ?

[2019-10-07 18:16] #17 closed

[2019-10-07 18:24] TheSTL commented on #40
@fcosueza
You should make a new issue for this and correct it in a new PR.

[2019-10-07 19:57] TheSTL opened #44 "Caesar cipher"
### ⚠️ Issue
Caesar cipher should raise and error when second argument is not a number, instead it's returning a string of "undefinedundefinedundefined"

[2019-10-07 19:59] ashokdey commented on #42
Thanks @PoojaKhandhadia, I really appreciate your skills and efforts. I would also like to know whether you are interested to be a full-time maintainer of this project putting more stress on Unit Tests?

Also thank you @SumeetHaryani, your PR #21 has fixed this. I am looping in @TheSTL for cross-validation before I close this.

[2019-10-07 20:01] ashokdey commented on #44
Thanks, @fcosueza, for pointing out this in #40. I am taking up this.

[2019-10-07 20:10] fcosueza commented on #44
You're welcome :smiley:

[2019-10-07 20:17] TheSTL commented on #42
It should throw error if index is negative.
And Fibonacci series start from 0,1,1,2,3........

[2019-10-08 01:59] DaniloBarros commented on #41
I'll do it

[2019-10-08 03:36] DaniloBarros commented on #41
PR made #46

[2019-10-08 05:36] ashokdey commented on #41
PR #46 closes this issue. Thanks

[2019-10-08 05:36] #41 closed

[2019-10-08 06:35] TheSTL opened #47 "Add Unit Test for - Get Smallest Common Number"
### 👽 What is required?
The algorithm is here : [get-smallest-common-number](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Problems_/get-smallest-common-number)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-08 06:43] TheSTL opened #48 "Add Unit Test for - Get Maze Path"
### 👽 What is required?
The algorithm is here : [get-mazePath](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_Problems_/get-mazePath/index.js)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-08 06:46] vobango commented on #34
Hello, @ashokdey I would like to work on this issue.

[2019-10-08 07:11] Omkaragrawal commented on #40
Hey,
 I would like to take this task.

[2019-10-08 07:15] Omkaragrawal commented on #44
Hey,
I would like to take up the task for Caesar Cipher, including testing, etc.

[2019-10-08 08:24] PoojaKhandhadia commented on #42
@ashokdey Sounds great!! Thanks for this. I would love to take this up!!!

[2019-10-08 09:04] ashokdey commented on #42
Great @PoojaKhandhadia, please drop me a mail with your contact details and availability for this task here: [ad@ashokdey.in]() 🍾

[2019-10-08 09:06] ashokdey commented on #44
Okay, go ahead @Omkaragrawal 👍

[2019-10-08 09:10] ashokdey commented on #40
Hey, @Omkaragrawal I have assigned you the fix and you can continue from there.

[2019-10-08 09:11] ashokdey commented on #34
Sure @vobango go ahead, also if you like the work please share and add a star to the repo. Thanks

[2019-10-08 10:23] dwncy commented on #47
Hi, I would like to take this :)

[2019-10-08 12:25] ashokdey opened #51 "Display function should return an array"
[Display in Doubly Linked List](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/DoublyLinkedList/index.js) should not log to console, instead return an array so that I can be tested easily.

I am adding the same in Contribution guide and correcting for previous non-linear data structures

If you liked the work add a star to it.

[2019-10-08 12:29] Mk996 commented on #51
Please assign the issue to me

[2019-10-08 13:10] glennforrest commented on #48
Will give this a go

[2019-10-08 13:33] TheSTL commented on #48
You can give it a shot @glennforrest

[2019-10-08 14:07] Venkat230407 commented on #51
Please assign this to me

[2019-10-08 14:08] ashokdey commented on #51
Following FIFO, I have assigned it to @Mk996, if he fails in 3 hrs I will assign it to @Venkat230407

[2019-10-08 14:09] ashokdey commented on #51
You are good to go @Mk996

[2019-10-08 15:12] PoojaKhandhadia commented on #42
@ashokdey @TheSTL I was just going through this.... the current change returns the negative number itself instead of error.

[2019-10-08 15:45] SumeetHaryani commented on #42
@PoojaKhandhadia working on it, will raise PR soon.

[2019-10-08 20:57] SumeetHaryani opened #58 "Add Reverse first k elements of queue problem and solution"
Add Reverse first k elements of queue problem and solution

[2019-10-09 06:59] iamshadmirza commented on #58
I would like to work on this.

[2019-10-09 07:55] SumeetHaryani commented on #58
Sorry @iamshadmirza, this issue is already been referenced with PR #55.

[2019-10-09 08:20] iamshadmirza commented on #58
No problem. Let me know if we can add more problems to the repo or any other way I can contribute.

[2019-10-10 06:51] TheSTL commented on #51
Closing this issue.
Merging PR - [# 52](https://github.com/knaxus/problem-solving-javascript/pull/52)

[2019-10-10 06:51] #51 closed

[2019-10-10 07:54] TheSTL opened #60 "Queue data structure"
### Need following functions in queue:
File location - [Queue](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Queue/index.js)

1. empty() – Returns whether the queue is empty.
2. size() – Returns the size of the queue.
3. front() – Function returns a the first element of the queue.
4. back() – Function returns a  the last element of the queue.
5. push(g) – Fu

[2019-10-10 10:17] TheSTL opened #61 "postfix-expression-evaluation"
File location [postfix-expression-evaluation](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Stack/postfix-expression-evaluation/index.js)

If too few number arguments are passed then it should throw error or expression is not in order.
Few cases:
- `12` Error
- `1` Error
- `+` Error
- `1+2` Error
- `+12` Error

[2019-10-10 10:24] #34 closed

[2019-10-10 10:27] TheSTL commented on #47
I'am closing this issue.
PR for this issue - [#50 ](https://github.com/knaxus/problem-solving-javascript/pull/50)

[2019-10-10 10:27] #47 closed

[2019-10-10 10:35] TheSTL commented on #48
I'am closing this issue.
PR for this issue - [#53 ](https://github.com/knaxus/problem-solving-javascript/pull/53)

[2019-10-10 10:35] #48 closed

[2019-10-10 18:21] jasbindar-singh commented on #61
How do I run the project on my local machine?

[2019-10-10 18:48] #42 closed

[2019-10-10 18:50] TheSTL commented on #61
Clone this repo and then run command npm install.

[2019-10-10 18:52] jasbindar-singh commented on #61
That will just install the dependencies, then?

[2019-10-10 18:58] TheSTL commented on #61
Then, node [file_path_to_run]

[2019-10-11 06:15] vobango commented on #61
If nobody wants this, I can start working on it on Monday.

[2019-10-11 07:29] ashokdey opened #64 "Add unit tests for BST Traversals"
Hello folks, please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forward with this issue.

Thanks

[2019-10-11 07:30] ashokdey opened #65 "Add unit test for BST insertion"
Hello folks, please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forward with this issue.

Thanks

[2019-10-11 07:30] ashokdey opened #66 "Add unit test for BST deletion"
Hello folks, please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forward with this issue.

Thanks

[2019-10-11 09:55] TheSTL commented on #61
Hi @vobango , we are not getting your commit properly . Please setup you git properly.

[2019-10-11 10:36] ashokdey commented on #61
Hello @jasbindar-singh, there is nothing to set up, it's a dead-simple project.

[2019-10-11 10:44] jasbindar-singh commented on #61
How do I run and see outputs can you elaborate. @ashokdey

[2019-10-11 11:17] iamshadmirza commented on #66
I'll need a little help with this PR @ashokdey . I'm sure I followed the right coding convention for writing tests. Please review

[2019-10-11 12:13] balajipachai commented on #65
Please refer #69

[2019-10-11 12:57] TheSTL commented on #64
I'am closing this issue.
Merged PR : [#70 ](https://github.com/knaxus/problem-solving-javascript/pull/70)

[2019-10-11 12:57] #64 closed

[2019-10-11 13:02] TheSTL opened #71 "Add Unit Test for - LRU Cache"
### 🤡 What is required?
The algorithm is here : [LRU-Cache](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Algorithms_/lru-cache)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-11 13:05] TheSTL opened #72 "Implement Ternary search"
### 🥶 What is required?

- Create a new folder in [_Searching_](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Searching_)
- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Follow the Contribution Guide strictly, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-11 14:25] TheSTL opened #74 "Implement Jump search"
### 🕵️‍♂️ What is required?
You can learn about it from [here](https://www.geeksforgeeks.org/jump-search/)
- Create a new folder in [_Searching_](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Searching_)
- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and

[2019-10-11 16:05] nik72619c commented on #74
working on this one

[2019-10-11 16:19] gabrielbarker commented on #74
just made PR for this, sorry @nik72619c

[2019-10-11 16:24] nik72619c commented on #74
oops, my bad !

[2019-10-12 09:01] luhego commented on #71
I create a pull request for this issue:
https://github.com/knaxus/problem-solving-javascript/pull/77

[2019-10-12 14:17] SumeetHaryani commented on #60
@TheSTL, can I work on this issue #60.

[2019-10-12 21:11] TheSTL commented on #71
I'm closing this issue because PR is merged. [#77 ]

[2019-10-12 21:11] #71 closed

[2019-10-13 05:23] ashokdey commented on #60
I will be taking care of this.

[2019-10-13 13:56] TheSTL opened #82 "addAt function in linked-list"
Linked-list addAt function not working properly.
File location [linked-list](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/LinkedList/index.js)

Please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forward w

[2019-10-13 13:57] TheSTL opened #83 "removeAt function in linked-list"
Linked-list removeAt function not working properly.
File location [linked-list](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/LinkedList/index.js)

Please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forwar

[2019-10-13 14:02] TheSTL commented on #74
I'm closing this issue.
Merged PR - [#78 ]

[2019-10-13 14:02] #74 closed

[2019-10-13 14:07] adavijit commented on #83
Please assign this to me

[2019-10-13 15:24] fluffynuts commented on #82
This appears to be working correctly in `master` (there's a passing test too). What's the issue?

[2019-10-13 17:57] TheSTL commented on #82
@fluffynuts
- Case 1:
linkedList.addAt(0, 1);
linkedList.addAt(0 ,2);
output : `{ data: 1, next: Node { data: 2, next: null } }`
- Case 2:
linkedList.addAt(0, 1);
linkedList.addAt(0 ,2);
linkedList.addAt(2 ,3);
output: `{ data: 1, next: Node { data: 3, next: null } }`

There can be more cases where it can fail

[2019-10-13 17:57] TheSTL commented on #83
hi @adavijit can you solve this issue?

[2019-10-13 17:59] adavijit commented on #83
No! please assign it to others! I am getting the wrong result

[2019-10-13 18:27] TheSTL commented on #83
@adavijit  Your try is not bad , i can see in PR- [#84 ].
There are 3 cases in removeAt:
- If index =0, then this.head = this.head.next
- Else If index = linkedList.length -1, then find previous node and set next value to null (previous.next = null)
- Else find previous (i-1) and current (i)  node, then previous.next = current.next;

If you think i'm wrong you can tell me.
Do you want to try it ag

[2019-10-13 18:33] adavijit commented on #83
Yes! I am trying

[2019-10-13 22:11] makmandy commented on #60
Does this still need to be worked on, since @ashokdey 's PR has been merged

[2019-10-14 04:30] TheSTL commented on #58
I'm closing this issue.
Merged PR - [#81 ]

[2019-10-14 04:30] #58 closed

[2019-10-14 04:31] TheSTL commented on #60
I'm closing this issue.
Merged PR - [#80 ]

[2019-10-14 04:31] #60 closed

[2019-10-14 08:56] TheSTL opened #87 "Add Unit Test for - Suffix Tree"
File location : [Suffix tree](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/SuffixTree/index.js)
Hello folks, please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forward with this issue.

Thanks

[2019-10-14 17:18] ashokdey commented on #60
@makmandy you can look into other issues. We got a bunch of issues around. Also, you can look into other repos of this organization.

[2019-10-14 17:28] ashokdey commented on #66
@iamshadmirza can you refer the PR here? Which PR you are exactly taking about?

[2019-10-14 21:42] TheSTL opened #89 "Implement Lowest Common Ancestor in a Binary Tree"
For more information- [lowest-common-ancestor-in-a-binary-search-tree](https://www.geeksforgeeks.org/lowest-common-ancestor-in-a-binary-search-tree/)

Hello folks, please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forward with this issue.

Than

[2019-10-14 21:46] TheSTL opened #90 "Implement Binary Tree to Binary Search Tree Conversion"
For more information- [Binary Tree to Binary Search Tree Conversion](https://www.geeksforgeeks.org/binary-tree-to-binary-search-tree-conversion/)

Hello folks, please go through the Contribution Guide here [https://github.com/knaxus/problem-solving-javascript#contribution-guide](https://github.com/knaxus/problem-solving-javascript#contribution-guide) before going forward with this issue.

Thanks

[2019-10-14 23:24] ngittlen commented on #38
I'd like to work on this.

[2019-10-15 04:41] iamshadmirza commented on #66
Both are reviewed and merged successfully. They were #67 for insert() test and #86 for delete() test for BST.

[2019-10-15 08:50] faergeek commented on #87
Hi! Can I take this one?

[2019-10-15 09:32] k88manish commented on #90
Let me try this

[2019-10-15 10:04] TheSTL commented on #87
@faergeek  yes you can work on this.

[2019-10-15 10:04] TheSTL commented on #38
@ngittlen you can work on this.

[2019-10-15 15:36] TheSTL commented on #61
@vobango are you working on this issue?

[2019-10-15 15:39] TheSTL commented on #66
Closing this issue.
Merged PR - [#86 ]

[2019-10-15 15:39] #66 closed

[2019-10-15 15:39] TheSTL commented on #65
Closing this issue.
Merged PR - [#67  ] and [#69 ]

[2019-10-15 15:39] #65 closed

[2019-10-15 19:13] #89 closed

[2019-10-16 17:24] TheSTL commented on #72
I'm closing this issue.
Merged PR [#76 ]

[2019-10-16 17:24] #72 closed

[2019-10-17 07:25] k88manish commented on #90
Added https://github.com/knaxus/problem-solving-javascript/pull/95. Please review

[2019-10-17 10:40] k88manish commented on #61
Can i take this up?

[2019-10-17 11:48] TheSTL commented on #61
Yes you can work on this @k88manish

[2019-10-17 17:44] ashu8912 commented on #82
Hey Can I take this issue.

[2019-10-17 18:03] ashokdey commented on #82
ok

[2019-10-18 11:52] TheSTL commented on #38
I'm closing this issue.
Merged PR is [#100 ]

[2019-10-18 11:52] #38 closed

[2019-10-19 05:41] ashu8912 commented on #39
Hey @PoojaKhandhadia are you working on this one if not can i take this one.

[2019-10-19 06:51] TheSTL opened #105 "Add Unit Test For - Binary Tree preOrder Traversal"
### 👽 What is required?
Function to test: `preOrder();`
The algorithm is here : [Binary Tree](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/Trees/BinaryTree)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank

[2019-10-19 06:54] TheSTL opened #106 "Add Unit Test For - Trie search string"
### 👽 What is required?
Function to test: `search();`
The algorithm is here : [Trie](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/Trees/Trie)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-19 07:19] reshmisaji commented on #106
can i pick this up?

[2019-10-19 08:44] reshmisaji commented on #105
can I pick this up?

[2019-10-19 08:47] sanyamdogra opened #108 "Hey! we can have CD as well."
🤖  Why I am worried?

I can see that the CI here is working great and I have an idea of having CD as well.

To have a **CD pipeline** in place we can do the following:
- Create a web page of problem listing
- Create an express server to serve that weeb page
- Finally, Heroku can be used to showcase the repo to the world in the form of a website

🎉

[2019-10-19 08:49] ashokdey commented on #108
Hey @sanyamdogra this is indeed a good idea and I have assigned @TheJSGirl to work on it. Thanks

👏

[2019-10-19 10:51] TheSTL commented on #105
I'm closing this issue.
Merged PR - [#111 ]

[2019-10-19 10:51] #105 closed

[2019-10-19 11:15] TheSTL commented on #39
I'm assigning this issue to you @ashu8912 .

[2019-10-19 12:33] ashu8912 opened #112 "Traverse Binary Tree In ZigZag Order"
![Screenshot 2019-10-19 at 6 02 31 PM](https://user-images.githubusercontent.com/30126128/67144981-b958ca00-f29a-11e9-9397-4de576c81284.png)
Add This Question To Binary Tree Section.

[2019-10-19 12:33] ashu8912 commented on #112
I can work on this if you want.

[2019-10-19 15:36] ashokdey commented on #112
Assigning you @ashu8912

[2019-10-19 17:49] Omkaragrawal opened #113 "Armstrong No."
I would gladly take up the task for adding Armstrong no.

[2019-10-19 20:59] TheSTL commented on #113
You can work on it.

[2019-10-20 03:33] ashu8912 opened #116 "All Permutations of a String Problem"
![Screenshot 2019-10-20 at 9 02 14 AM](https://user-images.githubusercontent.com/30126128/67154356-5b6ac780-f318-11e9-92d3-de659306646d.png)
![Screenshot 2019-10-20 at 9 02 09 AM](https://user-images.githubusercontent.com/30126128/67154357-6160a880-f318-11e9-9d5d-7d9331b32161.png)

This is a famous backtracking problem

[2019-10-20 03:33] ashu8912 commented on #116
I can work on this one

[2019-10-20 03:36] ashu8912 commented on #82
#103

[2019-10-20 16:31] TheSTL commented on #116
I'm closing this issue because  problem is already present in repo : [get-string-permutations](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Problems_/get-string-permutations)

[2019-10-20 16:31] #116 closed

[2019-10-20 17:58] k88manish commented on #61
@TheSTL Can you review my PR https://github.com/knaxus/problem-solving-javascript/pull/118

[2019-10-20 18:37] k88manish commented on #83
Hi @adavijit, Are you still working on this? If not I pick this up.

[2019-10-21 14:58] TheSTL opened #120 "Bottom View of a Binary Tree"
Create a new folder `bottom-view-binary-tree` in [Binary Tree](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/Trees/BinaryTree) .
Use implemented [BinaryTree](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/BinaryTree/index.js).
Problem is statement here: [bottom-view-binary-tree](https://www.geeksforgeeks.org/botto

[2019-10-21 15:00] TheSTL opened #121 "print-nodes-top-view-binary-tree"
Create a new folder `print-nodes-top-view-binary-tree` in [Binary Tree](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/Trees/BinaryTree) .
Use implemented [BinaryTree](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/BinaryTree/index.js).
Problem is statement here: [print-nodes-top-view-binary-tree](https://www.geeks

[2019-10-21 15:04] TheSTL opened #122 "Check if a binary tree is subtree of another binary tree"
Create a new folder `check-binary-tree-subtree-another-binary-tree` in [Binary Tree](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/Trees/BinaryTree) .
Use implemented [BinaryTree](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/BinaryTree/index.js).
Problem is statement here: [check-binary-tree-subtree-another-bina

[2019-10-21 15:45] apsychogirl commented on #122
Hi, Can I take this up?

[2019-10-21 15:53] ngittlen commented on #121
I can do this one.

[2019-10-21 15:54] TheSTL commented on #122
Yes you can work on this @apsychogirl .

[2019-10-21 16:17] abuasifkhan commented on #122
I didn't know we need to comment here. But I already made a pull request on this issue. :)

[2019-10-21 16:31] TheSTL opened #124 "Knuth–Morris–Pratt(KMP) Pattern Matching(Substring search)"
### Knuth–Morris–Pratt(KMP) Pattern Matching(Substring search)
Problem: Given two string A and B. Check if A is Substring of B.
Return true if substring , else return false.
Create a new folder `KMP` in [Classics](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_Classics_)
Highly recommended to watch this video to understand [KMP](https://www.youtube.com/watch?v=GTJr8OvyEVQ)

[2019-10-21 16:48] TheSTL commented on #121
You can do this @ngittlen :+1:

[2019-10-21 17:32] karimelazzouni commented on #120
Will work on this.

[2019-10-21 18:34] jonathanmcchesney commented on #124
Can I take this one?

[2019-10-21 18:48] TheSTL commented on #124
yes you can take this one @jonathanmcchesney

[2019-10-22 19:23] k88manish commented on #90
Raised new PR #127

[2019-10-23 08:54] ashokdey opened #128 "Implement Segment Tree"
Hello all, I am working on the implementation of Segment Tree. You can read more about it here: [Segment Tree Hackerearth](https://www.hackerearth.com/practice/data-structures/advanced-data-structures/segment-trees/tutorial/)

[2019-10-23 19:36] TheSTL commented on #61
I'm closing this issue.
Merged PR is -[#129 ]

[2019-10-23 19:36] #61 closed

[2019-10-23 20:49] TheSTL commented on #124
I'm closing this issue.
Merged PR is [#125 ]

[2019-10-23 20:49] #124 closed

[2019-10-24 09:47] Radwojt opened #132 "N-Queens Problem using Genetic Algorithm"
Hey - just wanted to let you know that I will be creating genetic algorithm for solving n-queens problem in JavaScript. Hope you will like it.

[2019-10-24 19:33] TheSTL opened #135 "Add Unit Test For Find unique-word-count in Trie"
### 👽 What is required?
Add unit test to find unique word count in a trie.
The algorithm is here : [unique-word-count](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/Trees/Trie/unique-word-count)

Contribution guide is here : [CONTRIBUTION](https://github.com/knaxus/problem-solving-javascript/blob/master/CONTRIBUTING.md)

Thank You!

[2019-10-24 19:36] TheSTL opened #136 "Add Unit Test for to find total word count in Trie"
### 👽 What is required?
Add unit test to find total word count in a trie.
The algorithm is here : [total-words-in-trie](https://github.com/knaxus/problem-solving-javascript/tree/master/src/_DataStructures_/Trees/Trie/total-words-in-trie)

Contribution guide is here : [CONTRIBUTION](https://github.com/knaxus/problem-solving-javascript/blob/master/CONTRIBUTING.md)

Thank You!

[2019-10-24 20:10] qualitymanifest commented on #135
I'd like to give this a shot. I'm not new to contributing to open source, but I am new to testing. I'll submit a PR in a bit.

[2019-10-24 20:13] niyonx commented on #136
Hi, can I work on this issue?

[2019-10-24 20:17] TheSTL commented on #135
Hi @qualitymanifest .
Please try to achieve or  close to 100 percent code coverage.

[2019-10-24 20:17] TheSTL commented on #136
Yes you can work on this @niyonx .

[2019-10-24 21:24] TheSTL commented on #135
I'm closing this issue.
Merged PR - [#138 ]

[2019-10-24 21:24] #135 closed

[2019-10-24 21:30] TheSTL commented on #120
I'm closing this issue.
Merged PR is [#130 ]

[2019-10-24 21:30] #120 closed

[2019-10-25 05:24] #136 closed

[2019-10-25 17:02] TheSTL opened #143 "Add Unit Test For - get-unique-words for Trie"
### 👽 What is required?
The algorithm is here : [get-unique-words](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/Trie/get-unique-words/index.js)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-25 17:03] TheSTL opened #144 "Add Unit Test for - all-words-in-trie in Trie"
### 👽 What is required?
The algorithm is here : [all-words-in-trie](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/Trie/all-words-in-trie/index.js)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accordingly

Thank You!

[2019-10-25 17:06] TheSTL opened #145 "Add Unit Test for - check-binary-tree-subtree-another-binary-tree"
### 👽 What is required?
The algorithm is here : [check-binary-tree-subtree-another-binary-tree](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/BinaryTree/check-binary-tree-subtree-another-binary-tree/index.js)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go throu

[2019-10-25 17:07] TheSTL opened #146 "Add Unit Test for - bottom-view-binary-tree"
### 👽 What is required?
The algorithm is here : [bottom-view-binary-tree](https://github.com/knaxus/problem-solving-javascript/blob/master/src/_DataStructures_/Trees/BinaryTree/bottom-view-binary-tree/index.js)

- Follow the ESLint rules strictly
- Follow the filename and folder structure strictly
- Since the Contribution Guide is not ready yet, go through the codebase pattern and add tests accord

[2019-10-25 22:02] christian-fei commented on #146
i'm on it 👌

[2019-10-25 22:21] christian-fei commented on #146
here we go https://github.com/knaxus/problem-solving-javascript/pull/147

[2019-10-26 16:27] TheSTL commented on #90
I'm closing this issue.
Merged PR is [#127 ]

[2019-10-26 16:27] #90 closed

[2019-10-26 16:51] k88manish commented on #90
Thanks @TheSTL  and @ashokdey.

[2019-10-26 17:50] ashokdey commented on #90
Do star this repo and share on social media if you liked working on it.

[2019-10-26 19:00] jyburns commented on #145
Hi, @TheSTL

I would like to work on this issue 👍

[2019-10-26 21:56] TheSTL commented on #146
I'm closing this issue.
Merged PR - [#147 ]

[2019-10-26 21:56] #146 closed

[2019-10-27 04:15] garrowp commented on #144
I can take this one

[2019-10-27 04:30] garrowp commented on #143
I can pick up this one

[2019-10-27 05:03] ashokdey commented on #143
Thanks for taking interest @garrowp, however, we already have #148 and #149. Can you continue with the changes asked in those two PRs?

[2019-10-28 03:59] garrowp commented on #143
Sure!

[2019-10-28 06:01] ashokdey commented on #143
You can pick up those

[2019-10-31 17:06] ashokdey opened #154 "Implement Heap"
I am taking up the task to implement Heap Data Structure. You can find more details here: [Heap Data Structure on Wikipedia](https://en.wikipedia.org/wiki/Heap_(data_structure))

[2019-10-31 17:08] ashokdey commented on #16
Closing due to no response

[2019-10-31 17:08] #16 closed

[2019-10-31 17:08] ashokdey commented on #39
@TheSTL is it done now?

[2019-11-01 05:58] TheSTL commented on #39
@ashokdey it's not done now.

[2019-11-01 18:02] ashokdey commented on #39
Ok.

[2019-11-11 06:19] ashokdey commented on #154
#156 closes this.

[2019-11-11 06:19] #154 closed

[2019-12-14 20:37] #87 closed

[2019-12-18 06:24] ashima20 commented on #122
hi is this resolved ?
I can work on this.

[2019-12-18 09:31] ashokdey commented on #122
@ashima20 I have to check with @TheSTL, regardless you can start with it for the *Problems* section of the repo. Also, feel free to add your own problems.
@apsychogirl you can take up other existing issues, we are also looking for code reviewers and maintainers.
@abuasifkhan can you refer your PR here in comments?

[2020-07-05 10:02] adarshaacharya opened #166 "Balanced Paratheses Problem"
**Check for balanced parentheses in the given string.**

[code]

I want to implement this problem using reduce() method in JS.

![image](https://user-images.githubusercontent.com/50266088/86530187-549bd900-bed6-11ea-868f-efad4828d434.png)

Can I work on this problem ?

[2020-07-06 07:02] ashokdey commented on #166
@adarshaacharya, have you raised the PR for the same?

[2020-07-06 23:06] adarshaacharya commented on #166
@ashokdey  yeah !! I've raised PR for same problem.

[2020-07-12 03:33] JayeshJanyani opened #168 "Edit in Readme.md file of the project"
Just correct the spelling of *Find* under contribution in Readme.md file of the repository. Can I do it?

PS- I am newbie, sorry for this silly issue.
If this is a valid issue, please assign it to me.

[2020-07-12 03:46] scottwedge opened #169 "Typos"

[2020-07-12 17:13] shubhdwiv12 opened #171 "maxArraySum Problem"
Hi, I am new into open source project, I can see that we don't have maxArraySum() problem in the project. i would like to add this problem.

Problem Statement is as follows:-
1.  Write a function which takes an array and a number, now, it will find the maximum sum of consecutive subarray with the length of number passed to it,

For example:-

maxArray([1,2,3,4], 2) //7 as [3+4]
maxArray([3,4], 4)

[2020-07-26 06:45] ashokdey commented on #168
Every contribution counts.

For more reach out to me on Twitter:
- twitter.com/ashokdey_
- twitter.com/knaxus_

Thanks

[2020-07-26 06:48] #169 closed

[2020-08-06 15:43] roshnaeem commented on #168
Can I work on this issue, I found a grammatical mistake too. I would like to fix both.

[2020-08-06 15:45] roshnaeem commented on #168
@ashokdey Kindly review my PR https://github.com/knaxus/problem-solving-javascript/pull/174

[2020-09-26 05:43] Siddharth009 commented on #113
Is the issue still on, I'd love to work on it

[2020-10-24 10:52] kajal1811 commented on #112
Is this issue still open? If yes, I would like to work on it.

[2020-10-24 11:00] kajal1811 commented on #121
If this issue is not resolved, can you assign me so that I can contribute to it?

[2021-02-28 11:37] MaliJetal commented on #113
What is the status of this task?

[2021-03-11 09:51] #168 closed

[2021-07-31 18:24] Halasalhab commented on #171
So is this is done? or can I claim it?

[2021-08-03 19:38] caseycling commented on #145
Can I work on this issue?

[2021-08-04 05:08] ashokdey commented on #145
sure

[2021-08-04 16:57] caseycling commented on #145
Can you help point me in the right direction of how to add the tests? Maybe another file which has other tests already written? Apologies, still very much a noob when it comes to unit testing.

[2021-08-05 06:23] ashokdey commented on #145
@caseycling you can have a tour of the repository and you will get to know the format of both code and test files.

[2021-08-24 13:28] shraddha-shetty commented on #145
can i work on  this issue

[2021-08-30 13:30] TanyaKhandelwal commented on #166
Hey! Is this issue still open?
I would like to contribute to this issue

[2021-09-03 05:49] ashokdey commented on #166
@TanyaKhandelwal thanks for #187

[2021-09-14 21:20] eyeamkd commented on #106
Hey @reshmisaji if you aren't working on this, can I pick this up?

[2021-09-15 06:01] ashokdey commented on #106
Sure, go ahead @eyeamkd

[2022-01-19 04:40] #39 closed

[2022-01-19 04:40] #40 closed

[2022-01-19 04:40] #44 closed

[2022-01-19 04:40] #82 closed

[2022-01-19 04:40] #83 closed

[2022-01-19 04:40] #106 closed

[2022-01-19 04:40] #108 closed

[2022-01-19 04:40] #112 closed

[2022-01-19 04:40] #113 closed

[2022-01-19 04:40] #121 closed

[2022-01-19 04:40] #122 closed

[2022-01-19 04:40] #128 closed

[2022-01-19 04:40] #132 closed

[2022-01-19 04:40] #143 closed

[2022-01-19 04:40] #144 closed

[2022-01-19 04:40] #145 closed

[2022-01-19 04:40] #166 closed

[2022-01-19 04:40] #171 closed

[2022-01-26 05:00] RyanMcPherson7 opened #191 "add Rotate Image (LeetCode 48) problem and solution"
Link to the problem can be found [here](https://leetcode.com/problems/rotate-image/)

[2022-01-26 05:02] #191 closed

[2022-01-26 05:04] RyanMcPherson7 opened #192 "add Rotate Image (LeetCode 48) problem and solution"
A link to the problem can be found [here](https://leetcode.com/problems/rotate-image/)

[2022-01-26 05:04] RyanMcPherson7 commented on #192
I am interested in working on this issue

[2022-01-30 18:43] ashokdey commented on #192
Merged #193

[2022-01-30 18:43] #192 closed

[2022-08-18 13:33] oukano opened #197 "minor copy update to LinkedList unit test"
in line 21, the it() should say `Should set the head, tail and size of a LinkedList` instead of
`Should set the data and next field of a node`

https://github.com/knaxus/problem-solving-javascript/blob/ff5e81cbf2cc88ee1a83993c5f18789fe6e1419f/src/_DataStructures_/LinkedList/LinkedList.test.js#L21

i can take this if agreed

[2022-08-28 08:11] sdkdeepa commented on #197
Hello ! I would like to make changes to this and raise a PR..

[2022-08-28 12:51] ashokdey commented on #197
Go ahead @sdkdeepa

[2022-08-28 22:00] sdkdeepa commented on #197
Please approve changes made to https://github.com/knaxus/problem-solving-javascript/pull/199

[2022-08-31 19:19] #197 closed

[2022-10-01 08:08] ashokdey opened #202 "[HO] Write test cases for Bloo, Filters"
Write test cases for the data structure Bloom Filters

[2022-10-01 08:09] ashokdey opened #203 "[HO] Write test cases for Set data structure"